.article-header {
    background: linear-gradient(rgba($primary, 0.7), $primary), url('../images/article-1-1.webp'),;
    background-position: center;
    background-size: cover;
    background-repeat: none;

}

blockquote {
    font-size: 1.5rem;
    font-style: italic;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 6px;
    border-left: 5px solid $primary;
    background-color: $light;
    color: $dark;

    &:has(.autor) {
        span {
            font-weight: bold;
        }
    }
}

:is(.paragraph, .list, .cite) {
    padding: 3rem;

    p {
        text-align: justify;
    }
}

.paragraph:has(h1) {
    padding: 5rem 0;
    font-size: 150%;
    color: $light;

    h1,
    p {
        text-align: center !important;
    }
}

.list {
    li {
        margin: 1rem 0;

        &::marker {
            color: $primary;
            font-weight: bold;
        }

        strong {
            color: $primary;
            display: block;
            font-size: 110%;
        }
    }
}