.baner {
    background-image: url('../images/home.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    div{
        padding: 2rem;
        display: grid;
        place-items: center;
    }
}