.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background: linear-gradient(rgba($white, 0.7), rgba($white, 0.7)), url("../images/home.webp") no-repeat center center/cover;

    h1,
    h2,
    p,
    button {
        margin: 0;
        text-align: center;
    }

    p {
        margin: 0;
        text-align: center;
    }

}

@supports (display:grid) {
    .banner {
        .container {
            display: grid;
            grid-template-rows: 0.5fr 0.5fr 3fr 0.5fr 0.5fr;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 1rem;
            height: 100%;
        }

        h1 {
            grid-row: 1 / 2;
            grid-column: 1 / 5;
            align-self: center;
        }

        h2 {
            grid-row: 2 / 3;
            grid-column: 1 / 5;
            align-self: center;
        }

        p {
            grid-row: 4 / 5;
            grid-column: 1 / 5;
            align-self: center;
            width: 100%;
        }

        button {
            grid-row: 5 / 6;
            grid-column: 2 / 4;
            align-self: center;
        }
    }

    @include media-breakpoint-up(md) {
        .banner {

            h1,
            h2,
            p,
            button {
                grid-column: 2 / 4;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        .banner {

            h1,
            h2 {
                grid-column: 3 / 5;
                text-align: right;
            }
        }
    }

    @include media-breakpoint-up(xxl) {
        .banner {

            h1,
            h2 {
                grid-column: 4 / 5;
                text-align: right;
            }

            p {
                grid-row: 4 / 5;
                grid-column: 1 / 2;
                text-align: left;

            }

            button {
                grid-row: 5 / 6;
                grid-column: 1 / 2;
            }
        }
    }
}