$primary: #4c818d;
$secondary: #5c5969;
// Headings
$headings-font-weight: 700;

//Card
$card-box-shadow: 5px 5px 15px $secondary;

//Buttons
$input-focus-box-shadow: none;

//Navbar
$navbar-nav-link-padding-x: 1.5rem;

